<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
 
  <!-- Icone de Usuario -->
 
  <ion-toolbar>
    <ion-img src="assets\icon\key.png" class="image-center"></ion-img>

  </ion-toolbar>
  
  <ion-list>

    <!-- Caixa de Entrada do Email -->
    
    <ion-item>
      <ion-input label="Email" label-placement="floating" fill="solid" placeholder="Digite seu Email"><ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    
    <br/>
  <!-- Caixa de Entrada da Senha -->
    <ion-item>
      <ion-input label="Senha" label-placement="floating" fill="solid" placeholder="Digite seu Email"><ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <br/>

    <!-- Botão de Login -->
    <ion-item>
      <ion-button size="medium">Login</ion-button>
    </ion-item>
    <br/>

  </ion-list>


</ion-content>